 
<div class="bannerTop">
  <div class="row" >
    <div class="col-2">
      <img class="img-fluid" src="assets/APLogo-20-20.jpeg" alt="logo de argentina progrma">
    </div>
    <div class="col-4">
      <img class="img-fluid" src="assets/LogosInti.jpeg" alt="logo de inti">
    </div>
    <div class="col botoningreso">
      <p>Loging</p>
    </div>
  </div>
</div>
    
    <div class="container-fluid ">
      <div class="row">
     <img class="banner" src="assets/Banner Moderno Azul y Blanco.jpeg" alt="Banner">
      </div>
   </div>

    <div class="container-fluid infopersonal1">
      <div class="row">
        <div class="col">
          <img class="float-start img-thumbnail" src="assets/Foto perfil.jpeg"  alt="imagen de perfil">
        </div>
        <div class="col infopersonal2  ">
          <p>Disfruto mantenerme al dia leyendo sobre articulos de finanzas/tecnologia Constante aprendizaje para mejorar mi calidad de vida y de quienes me rodean!. Creo firmemente que compartir conocimientos es indispensable para realmente acercacrte a una mejor version de ti!</p>
       </div>
      </div>
   </div>


  <footer>
    <div class="container-fluid">
      <div class="row">
        <h1 class="col">Email <strong>Alejandro@gmail.com</strong></h1>
      </div>
      </div>
      <div class="container-fluid">
        <div class="row">
          <h3 class="col">Telefono 351 00 000 00 </h3>
        </div>
      </div>
    </footer>
  
  
    
